.font {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 100%;
  width: 5%;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 101;
  transition: width 0.3s;
}
.example-container:hover,
.example-container.expanded {
  width: 250px;
}
::ng-deep .example-sidenav .mat-expansion-indicator {
  display: none;
}
::ng-deep .example-container:hover .mat-expansion-indicator {
  display: block;
}
.nav-list {
  background: rgba(247, 247, 247, 0.5);
}
.active {
  background: linear-gradient(135deg, #2e52f3 0%, #921bfa 50%, #6f02dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(247, 247, 247, 0.5);
}
