<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
      <mat-nav-list class="nav-list">
        <mat-list-item class="nav-list">
          <div class="d-flex">
            <mat-icon class="mx-2">dashboard</mat-icon>
            <span routerLink="/dashboard"> Dashboard </span>
          </div>
        </mat-list-item>
  
        <mat-expansion-panel class="nav-list">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex">
                <mat-icon class="m-0">format_list_bulleted</mat-icon>
                <span class="mx-2"> Students </span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item>Student List</mat-list-item>
            <mat-list-item>Item 2</mat-list-item>
            <mat-list-item>Item 3</mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
  
        <mat-expansion-panel class="nav-list">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex">
                <mat-icon class="m-0">view_list</mat-icon>
                <span class="mx-2"> Teachers </span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-list-item>Item 2</mat-list-item>
            <mat-list-item>Item 3</mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
  
        <mat-expansion-panel class="nav-list">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex">
                <mat-icon class="m-0">library_books</mat-icon>
                <span class="mx-2"> Books </span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-list-item>Item 2</mat-list-item>
            <mat-list-item>Item 3</mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
  
        <mat-list-item class="nav-list">
          <div class="d-flex">
            <mat-icon class="m-2">assignment</mat-icon>
            <span class="mx-2"> Issued Books </span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
  