<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
      <mat-nav-list class="nav-list">
        <span class="parent-nav-item">GENERAL</span>
        <mat-list-item class="nav-list">
          <div class="d-flex nav-items" routerLink="/dashboard" routerLinkActive="active">
            <mat-icon class="mx-2">dashboard</mat-icon>
            <span> Dashboard </span>
          </div>
        </mat-list-item>

        <mat-list-item class="nav-list">
          <div class="d-flex nav-items" routerLink="/student-list" routerLinkActive="active">
            <mat-icon class="mx-2">list</mat-icon>
            <span> Student List </span>
          </div>
        </mat-list-item>

        <mat-list-item class="nav-list">
          <div class="d-flex nav-items" routerLink="/teacher-list" routerLinkActive="active">
            <mat-icon class="mx-2">view_list</mat-icon>
            <span> Teacher List </span>
          </div>
        </mat-list-item>

        <mat-list-item class="nav-list">
          <div class="d-flex nav-items" routerLink="/book-list" routerLinkActive="active">
            <mat-icon class="mx-2">menu_book</mat-icon>
            <span> Book List </span>
          </div>
        </mat-list-item>

        <mat-list-item class="nav-list">
          <div class="d-flex nav-items align-items-center" routerLink="/issue-book-history" routerLinkActive="active">
            <mat-icon class="m-2">assignment</mat-icon>
            <span> Issued Books </span>
          </div>
        </mat-list-item>

        <br>
        <span class="parent-nav-item">REPORTS</span>
        <mat-list-item class="nav-list">
          <div class="d-flex nav-items align-items-center" routerLink="/reports" routerLinkActive="active">
            <mat-icon class="m-2">description</mat-icon>
            <span> Reports </span>
          </div>
        </mat-list-item>

        <mat-list-item class="nav-list">
          <div class="d-flex nav-items align-items-center" routerLink="/fines" routerLinkActive="active">
            <mat-icon class="m-2">assignment_late</mat-icon>
            <span> Fines </span>
          </div>
        </mat-list-item>

        <br>
        <span class="parent-nav-item">SYSTEM</span>
        <mat-list-item class="nav-list">
          <div class="d-flex nav-items align-items-center">
            <mat-icon class="m-2">settings</mat-icon>
            <span> Settings </span>
          </div>
        </mat-list-item>

        <mat-list-item class="nav-list">
          <div class="d-flex nav-items align-items-center" routerLink="/users-list" routerLinkActive="active">
            <mat-icon class="m-2">supervised_user_circle</mat-icon>
            <span> Users </span>
          </div>
        </mat-list-item>
      </mat-nav-list>

    </mat-sidenav>
  </mat-sidenav-container>
