<app-sidenavbar></app-sidenavbar>
<app-loader *ngIf="isLoading"></app-loader>
<div class="w-auto">
  <div class="dashboard-content">
    <div class="d-flex justify-content-start">
      <div class="header-section mx-1">
        <h4 class="font fs-6 fw-bolder">
          <mat-icon
            class="fs-6 mt-2 custom-tooltip"
            matTooltip="Back"
            matTooltipClass="my-tooltip"
            matTooltipPosition="above"
            routerLink="/student-list"
          >
            arrow_back_ios
          </mat-icon>
        </h4>
      </div>
      <div class="header-section">
        <h4 class="font p-1 fs-6 fw-bolder">Student Details</h4>
      </div>
    </div>
    <div class="w-100">
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="login-container d-flex justify-content-between">
            <mat-card appearance="outlined" class="personal-details">
              <h4 class="fs-5 font m-3 mb-1">Personal Details :</h4>
              <form [formGroup]="studentDetailsForm">
                <mat-card-content>
                  <div class="font mt-4">
                    <div class="d-block mx-4">
                      <span class="font d-flex align-items-center">
                        <!-- <mat-icon>account_circle</mat-icon> -->
                        <i class="fa-regular fa-user mx-1 px-1"></i>
                        <span class="mx-1 font fw-bold"> Student Name: </span>
                      </span>
                      <input
                        type="text"
                        formControlName="fullName"
                        class="border-0 mx-4 px-2 lh-1"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="font mt-4">
                    <div class="d-block mx-4">
                      <span class="font d-flex align-items-center">
                        <!-- <mat-icon>account_circle</mat-icon> -->
                        <i class="fa-solid fa-chalkboard-user px-1"></i>
                        <span class="mx-1 font fw-bold"> Class Name: </span>
                      </span>
                      <input
                        type="text"
                        formControlName="className"
                        class="border-0 mx-4 px-2 lh-1"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="font mt-4">
                    <div class="d-block mx-4">
                      <span class="font d-flex align-items-center">
                        <!-- <mat-icon>account_circle</mat-icon> -->
                        <i class="fa-solid fa-building-user px-1"></i>
                        <span class="mx-1 font fw-bold">
                          Department Name:
                        </span>
                      </span>
                      <input
                        type="text"
                        formControlName="department"
                        class="border-0 mx-4 px-2 lh-1"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="font mt-4">
                    <div class="d-block mx-4">
                      <span class="font d-flex align-items-center">
                        <!-- <mat-icon>account_circle</mat-icon> -->
                        <i class="fa-solid fa-mobile-screen-button px-1"></i>
                        <span class="mx-1 font fw-bold ps-1">
                          Mobile No.:
                        </span>
                      </span>
                      <input
                        type="text"
                        formControlName="mobileNo"
                        class="border-0 mx-3 px-2 lh-1"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="font mt-4">
                    <div class="d-block mx-4">
                      <span class="font d-flex align-items-center">
                        <!-- <mat-icon>account_circle</mat-icon> -->
                        <i class="fa-regular fa-envelope px-1"></i>
                        <span class="mx-1 font fw-bold"> Email: </span>
                      </span>
                      <input
                        type="text"
                        formControlName="email"
                        class="border-0 mx-3 px-2 lh-1"
                        readonly
                      />
                    </div>
                  </div>
                </mat-card-content>
              </form>
            </mat-card>
            <mat-card appearance="outlined" class="book-details">
              <mat-card-content>
                <div>
                  <app-table
                    [data]="studentsDataSource"
                    [columns]="StudentDataColumns"
                    [pageSize]="10">
                  </app-table>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
