.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 6px solid transparent;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  border-radius: 50%;
}
.spinner1 {
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner2 {
  width: 60px;
  height: 60px;
  margin: auto;
  border-top-color: #ffcc00;
  border-bottom-color: #ffcc00;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
