<app-sidenavbar></app-sidenavbar>
<div class="w-auto">
  <div class="dashboard-content">
    <div class="d-flex justify-content-start">
      <div class="header-section mx-1">
        <h4 class="font fs-6 fw-bolder">
          <mat-icon class="fs-6 mt-2 custom-tooltip" routerLink="/teacher-list">
            arrow_back_ios
          </mat-icon>
        </h4>
      </div>
      <div class="header-section">
        <h4 class="font p-1 fs-6 fw-bolder">
          {{ this.teacherId != "" ? "Update" : "Add" }} Teacher
        </h4>
      </div>
    </div>
    <div class="w-100">
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="login-container">
            <form
              class="create-teacher-form example-form w-100"
              [formGroup]="teacherForm"
            >
              <h2 class="font text-align-left mb-4">Teacher Info:</h2>
              <div class="d-flex justify-content-between font mx-1 w-100">
                <div
                  class="mb-4 d-block justify-content-center align-items-center"
                  style="width: 32%"
                >
                  <label class="mx-1" style="width: 25%"
                    >First Name:<span class="text-danger fs-5">*</span>
                  </label>
                  <mat-form-field class="example-full-width" style="width: 70%">
                    <input
                      type="text"
                      matInput
                      placeholder="Ex. John"
                      formControlName="firstName"
                    />
                  </mat-form-field>
                  <div style="display: block" class="custom-error">
                    <mat-error
                      *ngIf="
                        teacherForm?.get('firstName')?.touched &&
                        teacherForm?.get('firstName')?.hasError('required')
                      "
                    >
                      First Name is required.
                    </mat-error>
                  </div>
                </div>
                <div
                  class="mb-4 d-block justify-content-center align-items-center"
                  style="width: 32%"
                >
                  <label class="mx-1" style="width: 25%"
                    >Last Name: <span class="text-danger fs-5">*</span></label
                  >
                  <mat-form-field class="example-full-width" style="width: 70%">
                    <input
                      type="text"
                      matInput
                      placeholder="Ex. Doe"
                      formControlName="lastName"
                    />
                  </mat-form-field>
                  <div style="display: block" class="custom-error">
                    <mat-error
                      *ngIf="
                        teacherForm?.get('lastName')?.touched &&
                        teacherForm?.get('lastName')?.hasError('required')
                      "
                    >
                      Last Name is required.
                    </mat-error>
                  </div>
                </div>
                <div
                  class="mb-4 d-block justify-content-center align-items-center"
                  style="width: 32%"
                >
                  <label class="mx-1" style="width: 25%"
                    >Email/Gmail:<span class="text-danger fs-5">*</span></label
                  >
                  <mat-form-field class="example-full-width" style="width: 70%">
                    <input
                      type="email"
                      matInput
                      placeholder="Ex. john@gmail.com"
                      formControlName="email"
                    />
                  </mat-form-field>
                  <div style="display: block" class="custom-error">
                    <mat-error
                      *ngIf="
                        teacherForm?.get('email')?.touched &&
                        teacherForm.get('email')?.hasError('required')
                      "
                    >
                      Email should be required.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        teacherForm?.get('email')?.dirty &&
                        teacherForm.get('email')?.hasError('lowerCaseOnly')
                      "
                    >
                      Email should contain only lowercase letters.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        teacherForm?.get('email')?.dirty &&
                        teacherForm.get('email')?.hasError('noSpaces')
                      "
                    >
                      Email should not contain spaces.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        teacherForm?.get('email')?.dirty &&
                        teacherForm.get('email')?.hasError('singleAt') &&
                        !teacherForm.get('email')?.hasError('lowerCaseOnly')
                      "
                    >
                      Email must contain one "@" symbol.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        teacherForm?.get('email')?.dirty &&
                        teacherForm.get('email')?.hasError('gmailOnly')
                      "
                    >
                      Email must end with @gmail.com.
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-between mx-1 font w-100">
                <div
                  class="mb-4 d-block justify-content-center align-items-center"
                  style="width: 32%"
                >
                  <label style="width: 25%" class="mx-1"
                    >Department:<span class="text-danger fs-5">*</span></label
                  >
                  <mat-form-field style="width: 70%" class="example-full-width">
                    <mat-select formControlName="department">
                      <mat-option value="History">History</mat-option>
                      <mat-option value="Chemistry">Chemistry</mat-option>
                      <mat-option value="Physics">Physics</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div style="display: block" class="custom-error">
                    <mat-error
                      *ngIf="
                        teacherForm?.get('department')?.touched &&
                        teacherForm?.get('department')?.hasError('required')
                      "
                    >
                      Department is required.
                    </mat-error>
                  </div>
                </div>

                <div
                  class="mb-4 d-block justify-content-center align-items-center"
                  style="width: 32%"
                >
                  <label style="width: 25%" class="mx-1"
                    >Phone No.:<span class="text-danger fs-5">*</span></label
                  >
                  <mat-form-field style="width: 70%" class="example-full-width">
                    <input
                      type="text"
                      matInput
                      placeholder="Ex. 1234567890"
                      formControlName="phoneNo"
                    />
                  </mat-form-field>
                  <div style="display: block" class="custom-error">
                    <mat-error
                      *ngIf="
                        teacherForm?.get('phoneNo')?.touched &&
                        teacherForm?.get('phoneNo')?.hasError('required')
                      "
                    >
                      Phone No. is required.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        teacherForm?.get('phoneNo')?.touched &&
                        teacherForm?.get('phoneNo')?.hasError('minlength')
                      "
                    >
                      Phone No. should be 10 digits.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        teacherForm?.get('phoneNo')?.touched &&
                        teacherForm?.get('phoneNo')?.hasError('maxlength')
                      "
                    >
                      Phone No. should be 10 digits.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        teacherForm?.get('phoneNo')?.touched &&
                        teacherForm?.get('phoneNo')?.hasError('pattern')
                      "
                    >
                      Phone No. should be only digits.
                    </mat-error>
                  </div>
                </div>
                <div
                  class="mb-4 d-block justify-content-center align-items-center"
                  style="width: 32%"
                >
                  <label class="mx-1" style="width: 25%"
                    >Emp. Id:<span class="text-danger fs-5">*</span>
                  </label>
                  <mat-form-field class="example-full-width" style="width: 70%">
                    <input
                      type="text"
                      matInput
                      placeholder="Ex. EMP123"
                      formControlName="employeeId"
                    />
                  </mat-form-field>
                  <div style="display: block" class="custom-error">
                    <mat-error
                      *ngIf="
                        teacherForm?.get('employeeId')?.touched &&
                        teacherForm?.get('employeeId')?.hasError('required')
                      "
                    >
                      Employee Id is required.
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-between font mx-1 w-100">
                <div
                  class="mb-4 d-block justify-content-center align-items-center"
                  style="width: 32%"
                >
                  <label class="mx-1" style="width: 25%"
                    >Join. Date:<span class="text-danger fs-5">*</span>
                  </label>
                  <mat-form-field class="example-full-width" style="width: 70%">
                    <input matInput [matDatepicker]="joiningDatePicker" formControlName="joiningDate" />
                    <mat-datepicker-toggle matIconSuffix [for]="joiningDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #joiningDatePicker></mat-datepicker>
                  </mat-form-field>
                  <div style="display: block" class="custom-error">
                    <mat-error
                      *ngIf="
                        teacherForm?.get('joiningDate')?.touched &&
                        teacherForm?.get('joiningDate')?.hasError('required')
                      "
                    >
                      Joining Date is required.
                    </mat-error>
                  </div>
                </div>
                <div
                  class="mb-4 d-block justify-content-center align-items-center"
                  style="width: 32%"
                >
                  <label class="mx-1" style="width: 25%"
                    >Designation: <span class="text-danger fs-5">*</span></label
                  >
                  <mat-form-field style="width: 70%" class="example-full-width">
                    <mat-select formControlName="designation">
                      <mat-option value="Professor">Professor</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div style="display: block" class="custom-error">
                    <mat-error
                      *ngIf="
                        teacherForm?.get('designation')?.touched &&
                        teacherForm?.get('designation')?.hasError('required')
                      "
                    >
                      Designation is required.
                    </mat-error>
                  </div>
                </div>
                <div
                  class="mb-4 d-block justify-content-center align-items-center"
                  style="width: 32%"
                >
                  <label class="mx-1" style="width: 25%"
                    >Status:<span class="text-danger fs-5"
                      >*</span
                    ></label
                  >
                  <mat-form-field style="width: 70%" class="example-full-width">
                    <mat-select formControlName="status">
                      <mat-option [value]="true">Active</mat-option>
                      <mat-option [value]="false">Inactive</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div style="display: block" class="custom-error">
                    <mat-error
                      *ngIf="
                        teacherForm?.get('status')?.touched &&
                        teacherForm.get('status')?.hasError('required')
                      "
                    >
                      Status is required.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        teacherForm?.get('confirmPassword')?.dirty &&
                        teacherForm?.get('password')?.value !== teacherForm?.get('confirmPassword')?.value
                      "
                    >
                      Confirm Password does not match.
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-start font mx-1 w-100">
                <div
                  class="mb-4 d-block justify-content-center align-items-center me-4"
                  style="width: 32%"
                >
                  <label class="mx-1" style="width: 25%"
                    >Role:<span class="text-danger fs-5">*</span>
                  </label>
                  <mat-form-field style="width: 70%" class="example-full-width">
                    <mat-select formControlName="role">
                      <mat-option value="teacher">Teacher</mat-option>
                      <mat-option value="student">Student</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div style="display: block" class="custom-error">
                    <mat-error
                      *ngIf="
                        teacherForm?.get('role')?.touched &&
                        teacherForm?.get('role')?.hasError('required')
                      "
                    >
                      Role is required.
                    </mat-error>
                  </div>
                </div>
                <div
                  class="mb-4 d-block justify-content-center align-items-center"
                  style="width: 32%"
                  *ngIf="!teacherId"
                >
                  <label class="mx-1" style="width: 25%"
                    >Password:</label
                  >
                  <mat-form-field class="example-full-width" style="width: 70%">
                    <input
                      type="text"
                      matInput
                      placeholder="Ex. Doe"
                      formControlName="password"
                    />
                  </mat-form-field>
                </div>
              </div>

              <div class="m-2 mx-3">
                <button
                  mat-raised-button
                  color="primary"
                  class="px-4"
                  type="button"
                  (click)="saveTeacher()"
                  [disabled]="teacherForm.invalid"
                >
                  <span>Save</span>
                </button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
