.dashboard-content {
  background-color: rgb(245, 245, 245);
  height: 100vh;
  width: calc(100% - 15%);
  margin-left: 15%;
  padding: 1%;
  margin-top: 60px;

  mat-card {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
  }
}

::ng-deep .mat-mdc-text-field-wrapper{
  padding: 0 10px !important;
  border: 1px solid rgb(236, 233, 233);
  border-radius: 10px;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 10px;
  padding-bottom: 8px;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0px !important;
}
::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
::ng-deep .mat-mdc-form-field-infix {
  min-height: 35px;
}

.exportBtn{
  padding: 10px;
  margin: 0 0 10px 0;
}

.exportBtn:hover{
  background: linear-gradient(135deg, #5a76ef 0%, #ab56f6 50%, #ae65f8 100%);
  color: white;
}

.search-icon{
  position: relative;
  top: 25%;
  right: 6%;
  color: gray;
  cursor: pointer;
}

.add-student-btn{
  letter-spacing: normal;
  background: linear-gradient(135deg, #5a76ef 0%, #ab56f6 50%, #ae65f8 100%);
  color: white !important;
}
