/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Precision Sans","Century Gothic",CenturyGothic,sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Precision Sans","Century Gothic",CenturyGothic,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Precision Sans", "Century Gothic", CenturyGothic, sans-serif !important;
}

.custom-tooltip .mdc-tooltip__surface {
  position: relative;
  bottom: 20px;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0px 0px 0 10px;
}

/* ///////////////// breadcrumn start//////////////////////// */

.breadcrumb-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}

.breadcrumb-item {
  color: #6b7280;
  cursor: pointer;
  transition: 0.3s;
}

.breadcrumb-item:hover {
  color: #111827;
}

.separator {
  color: #9ca3af;
}

.breadcrumb-active {
  color: #2563eb;
  font-weight: 600;
}

/* styles.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #F3EDED inset !important;
  -webkit-text-fill-color: #222 !important;
}

::ng-deep .mat-mdc-text-field-wrapper{
  background-color: #F3EDED !important;
}

::ng-deep .ngx-toastr{
  border-radius: 5px !important;
}

/* /////////////////////////////////////////// width classes /////////////////////////////// */
.w-40{
  width: 40% !important;
}

.w-60{
  width: 60% !important;
}

.w-70{
  width: 70% !important;
}
/* //////////////////////////////////// cdk //////////////////////////////// */
.cdk-overlay-container {
  z-index: 1111 !important;
}

/* ///////////////////////////////////// custom buttons //////////////////////////////////////////// */
.cancel-btn{
  background-color: white;
  color: black;
}

.cancel-btn:hover{
  background-color: rgb(251, 183, 58) !important;
  color: white !important;
}

.save-btn{
  background-color: green !important;
  color: white !important;
}
