.dialog-modal {
  min-height: 250px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

::ng-deep .mat-mdc-dialog-title {
  font-weight: 700 !important;
  padding-bottom: 0 !important;
}

::ng-deep .mat-mdc-dialog-content{
  padding: 10px !important;
  font-size: 12px !important;
}

.mdc-dialog__title::before {
  height: 0px;
}
mat-icon {
  display: flex;
  margin: auto;
  font-size: 60px;
  width: 65px;
  height: 65px;
}
.message {
  font-size: 14px;
  font-weight: 500;
  color: rgb(53, 52, 52);
  white-space: pre-line;
}
.approve-btn {
  background-color: green !important;
  color: white !important;
}

.reject-btn {
  background-color: red !important;
  color: white;
}
