<div class="dialog-modal">
  <div class="inner-modal">
    <mat-icon class="text-danger" *ngIf="data.status == 'Error!' || data.status == 'Session Timeout'">warning</mat-icon>
    <mat-icon class="text-success" *ngIf="data.status == 'Success'">check_circle_outline</mat-icon>
    <mat-icon class="text-danger" *ngIf="data.status == 'Confirm!'">error_outline</mat-icon>
    <span mat-dialog-title class="text-center title font">{{ data.status }}</span>
    <mat-dialog-content>
      <p class="message text-center">{{ data.message }}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="m-auto d-flex gap-2">
        <button mat-button mat-raised-button (click)="onConfirmClick('approve')" class="approve-btn " *ngIf="data?.action?.approve">Approve</button>
        <button mat-button mat-raised-button (click)="onConfirmClick('reject')" class="reject-btn " *ngIf="data?.action?.reject">Reject</button>
        <button mat-button mat-raised-button (click)="onConfirmClick('delete')" class="reject-btn" *ngIf="data?.action?.delete">Delete</button>
        <button mat-button mat-raised-button (click)="onConfirmClick('confirm')" class="" *ngIf="data?.action?.confirm">Confirm</button>
        <button
          mat-button
          mat-raised-button
          (click)="onCancelClick()"
          *ngIf="data?.action?.cancel"
          class="btn"
        >
          Cancel
        </button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
