.font {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
.dialog-modal {
  height: 250px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mdc-dialog__title::before {
  height: 0px;
}
mat-icon {
  display: flex;
  margin: auto;
  font-size: 60px;
  width: 65px;
  height: 65px;
}
.message {
  font-size: 18px;
  font-weight: 500;
  color: rgb(53, 52, 52);
}
